
#🛠️ DDL e DML em SQL no Databricks

Este notebook traz uma introdução prática aos principais comandos SQL, com foco em quem está começando. A ideia aqui é entender o papel de cada tipo de comando — DDL (Data Definition Language) e DML (Data Manipulation Language) — e saber como usá-los no dia a dia para gerenciar a estrutura e o conteúdo de seus dados de forma eficiente e clara dentro do Databricks.

✅ O que você vai aprender:

- O que é DDL e como usá-lo para definir e gerenciar a estrutura de tabelas
- Como criar, alterar e excluir tabelas com CREATE, ALTER e DROP TABLE
- O que é DML e como usá-lo para manipular os dados dentro das tabelas
- Como inserir, atualizar e excluir dados com INSERT, UPDATE e DELETE

Todos os exemplos são simples, objetivos e pensados para facilitar o aprendizado de SQL no contexto do Spark SQL.

Links úteis:

- SQL language reference: https://docs.databricks.com/aws/en/sql/language-manual/

_____________________________________________________________

# TABELAS

In [0]:
CREATE TABLE workspace.default.funcionarios (
    id INT PRIMARY KEY,
    nome VARCHAR(100),
    cargo VARCHAR(50),
    salario DECIMAL(10,2),
    data_admissao DATE
);

In [0]:
INSERT INTO workspace.default.funcionarios (id, nome, cargo, salario, data_admissao)
VALUES
    (1, 'João Silva', 'Analista', 4500.00, '2022-01-10'),
    (2, 'Maria Souza', 'Gerente', 8500.00, '2021-03-15'),
    (3, 'Carlos Lima', 'Estagiário', 1800.00, '2023-05-20');

In [0]:
ALTER TABLE workspace.default.funcionarios
ADD email VARCHAR(150);

In [0]:
UPDATE workspace.default.funcionarios
SET salario = salario * 1.10
WHERE cargo = 'Analista';

In [0]:
DELETE FROM workspace.default.funcionarios
WHERE id = 3;

In [0]:
-- DROP TABLE workspace.default.funcionarios;

# VIEWS

In [0]:
CREATE TEMPORARY VIEW temp_view_funcionarios_ativos AS
SELECT 
    id,
    nome,
    cargo,
    salario
FROM workspace.default.funcionarios
WHERE salario > 3000;

In [0]:
CREATE MATERIALIZED VIEW workspace.default.mv_funcionarios_por_cargo AS
SELECT 
    cargo,
    COUNT(*) AS total_funcionarios,
    AVG(salario) AS salario_medio
FROM workspace.default.funcionarios
GROUP BY cargo;