# üìä Fun√ß√µes Nativas em SQL no Databricks


Links √∫teis:

- SQL language reference: https://docs.databricks.com/aws/en/sql/language-manual/sql-ref-functions-builtin#string-and-binary-functions

_____________________________________________________________

In [0]:
CREATE OR REPLACE TABLE workspace.default.exemplo_usuarios (
  id INT,
  nome STRING,
  cpf STRING,
  salario DECIMAL(10,2),
  data_nascimento DATE
);

INSERT INTO workspace.default.exemplo_usuarios VALUES
  (1, 'Ana Paula', '12345678901', 3500.50, DATE '1990-03-15'),
  (2, 'Carlos Silva', '23456789012', 5000.00, DATE '1985-11-23'),
  (3, 'Jo√£o Pedro', '34567890123', 4200.75, DATE '1992-07-30'),
  (4, 'Mariana Lima', '45678901234', NULL, DATE '1998-01-10'),
  (5, 'Luciana Dias', '56789012345', 6200.20, DATE '1980-09-12'),
  (6, 'Rodrigo Alves', NULL, 3100.00, DATE '1995-05-05'),
  (7, 'Bruno Costa', '67890123456', 2700.00, DATE '2000-02-02'),
  (8, 'Fernanda Rocha', '78901234567', 5500.00, DATE '1993-10-18'),
  (9, 'Patr√≠cia Gomes', '89012345678', 3000.00, DATE '1991-06-25'),
  (10, 'Renato Souza', '90123456789', NULL, DATE '1987-12-05');

# FUN√á√ïES DE TEXTO SIMPLES

In [0]:
SELECT
  nome,
  LENGTH(nome) AS tamanho_nome,
  UPPER(nome) AS nome_maiusculo,
  LOWER(nome) AS nome_minusculo,
  LTRIM(nome) AS nome_sem_espaco_esquerda,
  RTRIM(nome) AS nome_sem_espaco_direita
FROM workspace.default.exemplo_usuarios;

# FUN√á√ïES NUM√âRICAS

In [0]:
SELECT
  id,
  salario,
  salario + 500 AS salario_com_bonus,
  salario - 200 AS salario_descontado,
  salario * 2 AS salario_dobro,
  salario / 2 AS salario_metade,
  POWER(salario, 2) AS salario_quadrado,
  SQRT(salario) AS raiz_salario
FROM workspace.default.exemplo_usuarios;

# FUN√á√ïES BOOLEANAS

In [0]:
SELECT
  nome,
  salario,
  ISNULL(salario) AS salario_esta_nulo,
  IFNULL(salario, 0) AS salario_com_padrao,
  IF(salario > 4000, 'Alto', 'Baixo') AS faixa_salarial,
  IFF(salario IS NULL, 'Sem sal√°rio', 'Com sal√°rio') AS situacao_salarial
FROM workspace.default.exemplo_usuarios;

# FUN√á√ïES DE FORMATA√á√ÉO

In [0]:
SELECT
  cpf,
  LPAD(cpf, 11, '0') AS cpf_lpad,
  RPAD(cpf, 14, '*') AS cpf_rpad,
  REGEXP_REPLACE(cpf, '(\\d{3})(\\d{3})(\\d{3})(\\d{2})', '$1.$2.$3-$4') AS cpf_formatado
FROM workspace.default.exemplo_usuarios;

# FUN√á√ïES DE DATA

In [0]:
SELECT
  nome,
  data_nascimento,
  CURRENT_DATE AS hoje,
  YEAR(data_nascimento) AS ano_nasc,
  MONTH(data_nascimento) AS mes_nasc,
  DAY(data_nascimento) AS dia_nasc,
  DATEADD(YEAR, 1, data_nascimento) AS um_ano_depois,
  DATEDIFF(CURRENT_DATE, data_nascimento) AS dias_de_vida
FROM workspace.default.exemplo_usuarios;

# FUN√á√ïES DE CONVERS√ÉO DE TIPOS

In [0]:
SELECT
  nome,
  CAST(salario AS STRING) AS salario_texto,
  TO_VARCHAR(data_nascimento, 'yyyy-MM-dd') AS data_nasc_formatada,
  TRY_CAST(cpf AS BIGINT) AS cpf_em_numero,
  TRY_TO_NUMBER(cpf) AS cpf_com_try
FROM workspace.default.exemplo_usuarios;

In [0]:
CREATE OR REPLACE TEMPORARY VIEW vw_exemplo_formatado AS
SELECT
  nome,
  UPPER(nome) AS nome_maiusculo,
  REGEXP_REPLACE(cpf, '(\\d{3})(\\d{3})(\\d{3})(\\d{2})', '$1.$2.$3-$4') AS cpf_formatado,
  IFNULL(salario, 0) AS salario_final,
  POWER(IFNULL(salario, 0), 2) AS salario_ao_quadrado,
  YEAR(data_nascimento) AS ano_nasc,
  DATEDIFF(CURRENT_DATE, data_nascimento) AS idade_dias
FROM workspace.default.exemplo_usuarios;